.bsp/
.idea/
.metals/
.scala-build/
.vscode/
.mote/
project/project/
project/target/
target/
modules/*/target/
modules/*/js/target/
modules/*/jvm/target/
modules/*/shared/target/
/vendor/
*.class
*.log
